@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;400&family=Bellefair&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply h-full;
}
body {
  @apply h-full;
  @apply w-full;
}
.container {
  @apply h-full;
  background-image: url(../assets/home/background-home-mobile.jpg);
}

@screen md {
  .container {
    background-image: url(../assets/home/background-home-tablet.jpg);
  }
}

.home-button {
  border-radius: 50%;
}
